on:
  - push

jobs:
  main:
    # Add 'id-token' with the intended permissions for workload identity federation
    permissions:
      contents: 'read'
      id-token: 'write' # for OIDC auth

    runs-on: ubuntu-latest
    steps:
      # for google-github-actions/auth
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: projects/1069586827462/locations/global/workloadIdentityPools/ci-cd/providers/github
          service_account: github-actions@gestational-calendar.iam.gserviceaccount.com

      - name: Artifact Registry にプッシュできるようにする
        run: gcloud auth configure-docker --quiet asia-northeast1-docker.pkg.dev

      # for cache
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: true
          tags: |
            asia-northeast1-docker.pkg.dev/gestational-calendar/server/server
            asia-northeast1-docker.pkg.dev/gestational-calendar/server/server:${{ github.ref_name }}
            asia-northeast1-docker.pkg.dev/gestational-calendar/server/server:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - if: github.ref == 'refs/heads/master'
        name: Cloud Run にデプロイする
        run: gcloud run deploy server --region asia-northeast1 --image asia-northeast1-docker.pkg.dev/gestational-calendar/server/server
